# Python
__pycache__/
*.py[cod]
*.egg-info/
build/
dist/
wheels/

# Virtual environments
.venv/
venv/

# Unit test / coverage reports
htmlcov/
.coverage
.coverage.*
coverage.xml
.pytest_cache/

# Type checkers
.mypy_cache/

# IDE
.idea/
.vscode/

# LocalStack
.env.localstack
localstack-data/

# Claude Code
.claude/
